<footer>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <p>Par <a class="h-card" href="http://tom.preston-werner.com">Tom Preston-Werner</a>, <a class="h-card" href="http://quaran.to/">Nick Quaranto</a>, 
      et plein d'autres <a href="{{ site.repository }}/graphs/contributors">contributeurs merveilleux</a>.</p>
    </div>
    <div class="unit two-thirds align-right center-on-mobiles">
      <p>
        Fièrement traduit par <a class="h-card" rel="me" href="http://christopheducamp.com">Christophe Ducamp</a> et hébergé par 
        <a class="h-card" href="https://github.com">
          <img src="{{ site.url }}/img/footer-logo.png" alt="GitHub • Social coding">
        </a>
      </p>
    </div>
  </div>
</footer>
